.come-here {
  background-color: white;
  padding: 84px 31px;
  @media screen and (min-width: 768px) {
    padding: 100px 40px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 1280px;
  }

  .text {
    margin-bottom: 44px;
    max-width: 500px;
    text-align: left;

    .text-before {
      position: relative;
      text-transform: uppercase;
      color: $main-color;
      padding-left: 111px;
      margin-bottom: 20px;

      &::before {
        // background-image: url(../images/icons/defis.svg);
        position: absolute;
        left: 0;
        top: 7px;
        content: '';
        width: 60px;
        border: 1px solid $main-color;
        color: $main-color;
      }
    }
    .text-title {
      @extend %font-raleway;
      font-size: 42px;
      font-weight: bold;
      line-height: 49px;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
    }
    .text-paragraph {
      text-align: left;
      @extend %font-sans;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #555555;
    }

    @media screen and (min-width: 768px) {
      max-width: 500px;
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      order: 2;
      margin-bottom: 0em;
      margin-top: 130px;
      margin-right: 125px;
    }
  }

  // оформляем раздел с блоками
  .plus {
    display: flex;
    justify-content: flex-end;
    margin-right: -15px;
    margin-left: -15px;

    @media screen and (max-width: 420px) {
      flex-direction: column;
      padding: 0px 30px;
    }

    .plus-group-one {
      width: calc((100%-4 * 15px) / 2);
      list-style: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 0;
      max-width: 194px;
      margin-right: 15px;
      margin-left: 15px;
      padding-top: 0;
    }
    .plus-group-two {
      padding-top: 35px;
      width: calc((100%-4 * 15px) / 2);
      max-width: 194px;
      list-style: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 15px;
      margin-left: 15px;

      @media screen and (max-width: 420px) {
        padding-top: 0;
      }

      &:nth-child(even) {
        margin-bottom: 0;
      }
    }

    .item-container {
      padding: 20px 35px;
      background-color: #f7f7f7;
      text-align: center;
      margin: 15px 0px;

      &:not(:last-child) {
        margin-bottom: 0;
      }
      :nth-child(n + 1) {
        margin-right: 0;
      }
    }
    .item-paragraph {
      @extend %font-sans;
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      text-align: center;
    }
    .item-cyfra {
      @extend %font-sans;
      color: $main-color;
      font-weight: bold;
      font-size: 42px;
      line-height: 57px;
      text-align: center;
      letter-spacing: 0.05em;
    }
    .sup {
      font-size: 16px;
      color: $hover-color;
    }

    @media screen and (min-width: 768px) {
      .plus-group-one {
        width: calc((100%-4 * 15px) / 3);
        max-width: 210px;
        margin-left: 15px;
        margin-right: 15px;
      }
      .plus-group-two {
        width: calc((100%-4 * 15px) / 3);
        max-width: 210px;
        // margin: 15px;
      }
    }
    @media screen and (min-width: 1200px) {
      .plus {
        order: 1;
      }
      .plus-group-one {
        width: calc((100% - 940px) / 2);
        min-width: 170px;
        margin-left: 155px;
        margin-top: 121px;
      }
      .plus-group-two {
        width: calc((100% - 940px) / 2);
        min-width: 170px;
        margin-top: 156px;
      }
      .item-container {
        padding: 20px 24px;
        margin-left: 0;
        margin-right: 0;
        max-width: 170px;
      }
    }
  }
}
