<section class="best-barber">
  <div class="container">
    <div class="barber-foto">
      <div class="best-barber-foto">
        <img
          srcset="
            /src/images/best-barber/beard@2x.jpg 2x,
            /src/images/best-barber/beard@3x.jpg 3x,

          "
          src="/src/images/best-barber/beard.jpg"
          alt="Фото бритья"
          class="beard"
        />
      </div>
      <div class="best-barber-foto">
        <img
          srcset="
            /src/images/best-barber/hair@2x.jpg,
            /src/images/best-barber/hair@3x.jpg 3x
          "
          src="/src/images/best-barber/hair.jpg"
          alt="Фото стрижки"
          class="hair"
        />
      </div>
    </div>

    <div class="">
      <p class="best-barber-about">О НАС</p>
      <h2 class="best-barber-title">
        Лучший Барбершоп<br />
        твоего города
      </h2>
      <p class="best-barber-text">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="best-barber-paragraf">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <button class="best-barber-button">
        онлайн-запись
      </button>
    </div>
  </div>
</section>
