<section class="come-here">
  <div class="text">
    <div class="text-before">Старая традиционная школа</div>
    <h2 class="text-title">Почему приходят именно к нам?</h2>
    <p class="text-paragraph">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
  </div>

  <div class="plus">
    <ul class="plus-group-one">
      <li class="group-one-item">
        <div class="item-container">
          <p class="item-paragraph">
            <span class="item-cyfra">600<sup class="sup">+</sup></span>
            Довольных клиентов в день
          </p>
        </div>
      </li>
      <li class="group-one-item">
        <div class="item-container">
          <p class="item-paragraph">
            <span class="item-cyfra">20<sup class="sup">+</sup></span
            ><br />
            Довольных клиентов в день
          </p>
        </div>
      </li>
    </ul>
    <ul class="plus-group-two">
      <li class="group-two-item">
        <div class="item-container">
          <p class="item-paragraph">
            <span class="item-cyfra">50<sup class="sup">+</sup></span
            ><br />
            Довольных клиентов в день
          </p>
        </div>
      </li>
      <li class="group-two-item">
        <div class="item-container">
          <p class="item-paragraph">
            <span class="item-cyfra">100<sup class="sup">+</sup></span>
            Довольных клиентов в день
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
