<footer class="footer">
  <div class="footer-container">
    <form>
      <h2 class="footer-caption">
        Онлайн-запись
      </h2>
      <div class="prosto">
        <div class="form-name">
          <input
            type="text"
            name="name"
            id="name"
            placeholder=" "
            class="input-name"
          />
          <label for="name" class="name">ИМЯ*</label>
        </div>

        <div class="form-name">
          <input
            type="number"
            name="number"
            id="number"
            placeholder=" "
            class="input-name"
          />
          <label for="number" class="name">ТЕЛЕФОН*</label>
        </div>
      </div>
      <div class="form-comment">
        <textarea
          name="comment"
          id="comment"
          rows="2"
          placeholder=" "
          class="input-comment"
        ></textarea>
        <label for="comment" class="comment">СООБЩЕНИЕ</label>
      </div>
      <button type="submit" class="button-submit">ОТПРАВИТЬ</button>
    </form>
  </div>
  <div class="container-contacts">
    <div class="flex-container">
      <h2 class="footer-caption">Контакты</h2>

      <ul class="list-address">
        <li class="address-item">
          <svg width="20" height="20" aria-label="Геолокация">
            <use
              class=""
              href="./images/icons/symbol-defs.svg#icon-map-pin"
            ></use>
          </svg>
          <address class="address">
            ул. Васильковая, 7А, Киев, 08132
          </address>
        </li>
        <li class="address-item">
          <svg width="20" height="20" aria-label="Геолокация">
            <use
              class=""
              href="./images/icons/symbol-defs.svg#icon-phone"
            ></use>
          </svg>
          <a href="tel:+380441111111" class="address none">
            +38 044 111 11 11
          </a>
        </li>
        <li class="address-item">
          <svg width="20" height="20" aria-label="Геолокация">
            <use class="" href="./images/icons/symbol-defs.svg#icon-mail"></use>
          </svg>
          <a href="mailto:barbershop@email.com" class="address">
            barbershop@email.com
          </a>
        </li>
      </ul>
    </div>
    <div class="container-schedule">
      <h3 class="schedule">
        <div class="line"></div>
        ВРЕМЯ РАБОТЫ
      </h3>
      <p class="schedule-item">Ежедневно с 9:00 до 22:00</p>
    </div>
  </div>
  <div class="container-copyright">
    <ul class="copyright-list">
      <li class="instagram">
        <div class="line-copyright"></div>
        <a class="copyright-network" href="#">Instagram</a>
      </li>
      <li class="youtube">
        <a class="copyright-network" href="#">Youtube</a>
      </li>
    </ul>
    <p class="copyright">&#169; Copyright 2020</p>
  </div>
</footer>
