<section class="section-prise">
  <div class="container-prise">
    <div class="line-meta-prise">
      <div class="prise-line"></div>
      <p class="meta-prise">Проведи время в компании лучших мастеров</p>
    </div>
    <h2 class="name-section-prise">Услуги и цены</h2>

    <div class="menu-services-prise">
      <div class="services-prise block-prise">
        <ul class="services-prise-one">
          <li class="item-prise">
            Мужская стрижка <span class="value"> от 300 грн.</span>
          </li>
          <li class="item-prise">
            Стрижка бороды <span class="value"> от 200 грн.</span>
          </li>
          <li class="item-prise">
            Стрижка усов <span class="value"> от 200 грн.</span>
          </li>
          <li class="item-prise">
            Бритье опасной бритвой <span class="value"> от 200 грн.</span>
          </li>
        </ul>
        <ul class="services-prise-two">
          <li class="item-prise">
            Cтрижка у стажера <span class="value"> от 50 грн.</span>
          </li>
          <li class="item-prise">
            Стрижка под насадку <span class="value"> от 200 грн.</span>
          </li>
          <li class="item-prise">
            Детская стрижка (до 12 лет) <span class="value"> от 300 грн.</span>
          </li>
          <li class="item-prise">
            Камуфлирование седины <span class="value"> от 200 грн.</span>
          </li>
        </ul>
      </div>
    </div>
    <button class="button-prise">ОНЛАЙН-ЗАПИСЬ</button>
  </div>
</section>
